<h1>Bienvenue</h1>
<p>Salut à tous !</p>
<p>Voici tous les potins !</p>

<ul>
<% @all_gossips.each do |gossip |%>
<ol class="list-group">
  <li class="list-group-item justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><%= gossip.user.first_name %></div>
      <%= gossip.title %>
    </div>
    <span class="badge bg-light"><%= link_to "Voir", gossip_details_path(gossip.id)%></span>
  </li>
</ol>
<% end %>
</ul>
